#loader {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: red;
}

#alert {
    padding: 10px;
    background-color: cornflowerblue;
}

html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#year-selector {

}